<header class="header">
	<div class="header_in">
		{% if template.name == 'index' %}
		<h1 class="header_logo_w">
			{% else %}
			<div class="header_logo_w">
				{% endif %}
				<a href="/" class="header_logo">
					{% if section.settings.logo != blank %}
						{% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
						<img class="header_logo_img"
						     src="{{ section.settings.logo | img_url: image_size }}"
						     srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
						     alt="{{ section.settings.logo.alt | default: shop.name }}">
					{% else %}
						{{ shop.name }}
					{% endif %}
				</a>
				{% if template.name == 'index' %}
		</h1>
		{% else %}
	</div>
	{% endif %}
	<nav role="navigation" class="header_nav">
		<ul class="header_nav_list">
			{%- for link in linklists.main-menu.links -%}
				<li class="header_nav_item">
					<a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %} class="header_nav_link">
						{{ link.title }}
					</a>

					{%- if link.links != blank -%}
						<ul class="header_subnav_list">
							{%- for child_link in link.links -%}
								<li class="header_subnav_item">
									<a href="{{ child_link.url }}"
									   {% if child_link.active %}aria-current="page"{% endif %}
									   class="header_subnav_link">
										{{ child_link.title }}
									</a>

									{%- if child_link.links != blank -%}
										<ul>
											{%- for grandchild_link in child_link.links -%}
												<li>
													<a href="{{ grandchild_link.url }}"
													   {% if grandchild_link.active %}aria-current="page"{% endif %}>
														{{ grandchild_link.title }}
													</a>
												</li>
											{%- endfor -%}
										</ul>
									{%- endif -%}

								</li>
							{%- endfor -%}
						</ul>
					{%- endif -%}

				</li>
			{%- endfor -%}
		</ul>
	</nav>

	{% if shop.customer_accounts_enabled %}
		<div class="header_account_w">
			<ul class="header_account_list">
				{% if customer %}
					<li class="header_account_item">
						{% if customer.first_name != blank %}
							{% capture first_name %}<a href="/account"
							                           class="header_account_link">{{ customer.first_name }}</a>{% endcapture %}
							{{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
						{% else %}
							<a href="/account" class="header_account_link">{{ 'layout.customer.account' | t }}</a>
						{% endif %}
					</li>
					<li class="header_account_item">
						{{ 'layout.customer.log_out' | t | customer_logout_link | replace: '<a', '<a class="header_account_link"' }}
					</li>
				{% else %}
					<li class="header_account_item">
						{{ 'layout.customer.log_in' | t | customer_login_link | replace: '<a', '<a class="header_account_link"' }}
					</li>
					<li class="header_account_item">
						{{ 'layout.customer.create_account' | t | customer_register_link | replace: '<a', '<a class="header_account_link"' }}
					</li>
				{% endif %}
			</ul>
		</div>
	{% endif %}
	<div class="header_cart_w">
		<a href="/cart" class="header_cart">
			{% include 'icon-cart' %}
			{{ 'layout.cart.title' | t }}
			({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
		</a>
	</div>
	</div>
</header>